
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* HTML
-----------------------*/
body{
	background: #000;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* ESTRUTURA
-----------------------*/
#header {
	background: url("../img/bg-header.jpg") no-repeat center top;
	height: 224px;
	width: 100%;
}
#main {
	
}
#footer {
	background: url("../img/bg-footer.jpg") no-repeat center top;
	height: 272px;
}

.wrap {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

/* HEADER
-----------------------*/

#header h1 {
	font-size: 28px;
	line-height: 224px;
	height: 224px;
	display: inline-block;
	width: 110px;
}
#header nav {
	line-height: 224px;
	display: inline-block;
	text-align: center;
	width: 850px;
}
	#header .nav .sub {
		display: none;
		position: absolute;
	}
	#header .nav .item {
		display: inline-block;
		position: relative;
	}
		#header .nav .item:hover .sub {
			display: block;
		}
	#header .nav .link {
		padding: 0 15px;
	}