body {
	background: url("../img/home-bg.jpg") no-repeat center top;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
.nav {
	background: url("../img/menu-bar.png") no-repeat center bottom;
	height: 50px;
	left: 50%;
	margin: 0 0 0 -270px;
	position: absolute;
	top: 0;
	width: 541px;
}
.nav .menu {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.nav .item {
	display: inline-block;
	margin: 0 5px;
	height: 45px;
	line-height: 45px;
	padding: 0;
}
.nav .link {
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}
.nav .link:hover {
	text-decoration: underline;
}

.text {
	font-family: Droid Sans;
	margin: 200px auto 0;
	position: relative;
	text-align: center;
}
.text .title {
	color: #ffffff;
	font-size: 142px;
	font-weight: normal;
	line-height: 100%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;

	text-shadow: 1px 1px 30px #ffffff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}
.text .subtitle {
	font-size: 14px;
}