.mr2wp-meta-gallery li {
	border: 1px solid #ddd;
	float: left;
	margin: 0 5px 5px 0;	
	position: relative;
}
.mr2wp-meta-gallery li img {
	width: 188px;
}
.mr2wp-meta-gallery li .remove {
	background-color: #ffffff;
	background-image: url("../img/glyphicons_016_bin.png");
	background-position: center;
	background-repeat: no-repeat;
	bottom: 0;
	height: 26px;
	padding: 5px;
	position: absolute;
	right: 0;
	width: 26px;
}