/* line 1, scss/meta/_date.scss */
.mr2wp-metabox .hasDatepicker {
  width: 100px !important;
}

/* line 1, scss/meta/_gallery.scss */
.mr2wp-meta-gallery li {
  border: 1px solid #ddd;
  float: left;
  margin: 0 5px 5px 0;
  position: relative;
}

/* line 7, scss/meta/_gallery.scss */
.mr2wp-meta-gallery li img {
  width: 188px;
}

/* line 10, scss/meta/_gallery.scss */
.mr2wp-meta-gallery li .remove {
  background-color: #ffffff;
  background-image: url("../img/glyphicons_016_bin.png");
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  height: 26px;
  padding: 5px;
  position: absolute;
  right: 0;
  width: 26px;
}

/* line 1, scss/meta/_google-maps.scss */
.googleMaps .finder {
  width: 172px !important;
}

/* line 4, scss/meta/_google-maps.scss */
.googleMaps .coords {
  float: right;
  width: 40px;
}

/* line 8, scss/meta/_google-maps.scss */
.googleMaps .map {
  height: 300px;
  margin: 20px 0;
}

/* line 2, scss/meta/_image.scss */
.mr2wp-metabox .custom_preview_image {
  max-width: 100%;
}

/* line 1, scss/meta/_reapetable.scss */
.custom_repeatable li {
  background: #eee;
  padding: 10px;
}

/* line 5, scss/meta/_reapetable.scss */
.custom_repeatable li label {
  float: left;
  width: 100px;
}

/* line 1, scss/meta/_slider.scss */
.ui-slider {
  float: left;
  margin: 7px 10px 0 0;
  width: 123px;
}

/* line 2, scss/meta/_video-gallery.scss */
.mr2wp-meta-video-gallery .modal-search {
  display: none;
}

/* line 8, scss/meta/_video-gallery.scss */
.mr2wp-meta-video-gallery-modal-container .button-primary {
  color: #fff !important;
}
/* line 12, scss/meta/_video-gallery.scss */
.mr2wp-meta-video-gallery-modal-container .search-bar {
  margin-top: 20px;
}
/* line 14, scss/meta/_video-gallery.scss */
.mr2wp-meta-video-gallery-modal-container .search-bar .input {
  width: 520px;
}
/* line 17, scss/meta/_video-gallery.scss */
.mr2wp-meta-video-gallery-modal-container .search-bar .button-primary {
  width: 75px;
}
/* line 23, scss/meta/_video-gallery.scss */
.mr2wp-meta-video-gallery-modal-container .video-info {
  display: none;
  padding: 20px 0;
}
/* line 26, scss/meta/_video-gallery.scss */
.mr2wp-meta-video-gallery-modal-container .video-info .thumb {
  float: left;
  margin: 0 10px 10px 0;
}
/* line 32, scss/meta/_video-gallery.scss */
.mr2wp-meta-video-gallery-modal-container .actions {
  border-top: 1px solid #cecece;
  display: none;
  margin-top: 20px;
  padding: 20px 0;
}

/** MR2WP_User_MetaBox
-----------------------------------------*/
/* line 11, scss/_meta.scss */
.mr2wp-user-metabox {
  display: none;
}

/** input
-----------------------------------------*/
/* line 17, scss/_meta.scss */
.mr2wp-metabox input[type=text] {
  width: 300px;
}

/* line 20, scss/_meta.scss */
.mr2wp-metabox input[readonly=readonly] {
  width: 165px;
}

/* line 23, scss/_meta.scss */
.mr2wp-metabox textarea {
  width: 90%;
}

/* line 27, scss/_meta.scss */
#side-sortables .mr2wp-metabox input[type=text] {
  width: 100px;
}

/** label
-----------------------------------------*/
/* line 33, scss/_meta.scss */
#side-sortables .inside th {
  width: 80px;
}

/*******************************************************/
/***| HELPERS
/*******************************************************/
/* line 8, scss/mr2wp.scss */
.wrap {
  clear: both;
}

/* line 9, scss/mr2wp.scss */
.none {
  display: none;
}
