@import "meta/date";
@import "meta/gallery";
@import "meta/google-maps";
@import "meta/image";
@import "meta/reapetable";
@import "meta/slider";
@import "meta/video-gallery";

/** MR2WP_User_MetaBox
-----------------------------------------*/
.mr2wp-user-metabox {
	display: none;
}

/** input
-----------------------------------------*/
.mr2wp-metabox input[type=text] {
	width: 300px;
}
.mr2wp-metabox input[readonly=readonly] {
	width: 165px;
}
.mr2wp-metabox textarea {
	width: 90%;
}

#side-sortables .mr2wp-metabox input[type=text] {
	width: 100px;
}

/** label
-----------------------------------------*/
#side-sortables .inside th {
	width: 80px;
}
