.mr2wp-meta-video-gallery {
	.modal-search {
		display: none;
	}
	
}
.mr2wp-meta-video-gallery-modal-container {
	.button-primary {
		color: #fff !important;
	}

	.search-bar {
		margin-top: 20px;
		.input {
			width: 520px;
		}
		.button-primary {
			width: 75px;
		}
		
	}

	.video-info {
		display: none;
		padding: 20px 0;
		.thumb {
			float: left;
			margin: 0 10px 10px 0;
		}
	}

	.actions {
		border-top: 1px solid #cecece;
		display: none;
		margin-top: 20px;
		padding: 20px 0;
	}
}