// Convert px to em
@function pxtoem($target, $context : 16){
        @return ($target/$context)+0em;
}

// Convert em to px
@function emtopx($target, $context : 16){
        @return ($target*$context)+0px;
}

@mixin background($img,$position:0 0,$color : transparent, $repeat: no-repeat) {
    background: $color url(imagesPath() + $img) $repeat $position;
}

@mixin background-with-dimensions($img,$TextReplace : false, $position:0 0,$color : transparent,$repeat: no-repeat) {
    background: $color url(imagesPath() + $img) $repeat $position;
    width: image-width(imagesPathDisk() + $img);

    @if $TextReplace{
    	height: 0;
    	overflow:hidden;
    	padding-top: image-height(imagesPathDisk() + $img) + 2px; // prevent zoom bug
    } @else{
	    height: image-height(imagesPathDisk() + $img);
	}

}
/*************/

@mixin allMiddle($width:1000px){
	width:$width;
	margin:0 auto;
	display:block;
}


/**************/


@mixin listNoneInline{
	list-style:none;
	margin:0;
	padding:0;
	display:inline;
	.li, li{
		display:inline;
		list-style:none;
	}
}

@mixin boxs01{
	float:left;
	position:relative;
	display:inline;
}

@mixin disable_user_selection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/******************/

//Textos ocultos
@mixin ocultaTexto{text-indent:-9000em; font-size:0; line-height:0;}

//Clearfix
@mixin clearfix{
	*zoom: 1;
	&:before, &:after{content:""; display:table;}
	&:after{clear:both;}
}